{%extends 'base.html'%}
{%block body%}

<div class="container-fluid mt-3">

    <div class="row">

        <!--filter-->

        <div class="col-lg-2 mx-auto my-4">
            <b>All Categories</b>
            <div class="list-group">
                <a href="{% url 'ecom_app:product' %}" class="list-group-item list-group-item-action my-1 active" style="background-color: rgb(13, 110, 253);">All Products</a>
                {% for i in duplicate_cate %}
                <a href="{%url 'ecom_app:cato' i.id%}" class="list-group-item list-group-item-action my-1 active" style="background-color: rgb(13, 110, 253);">{{i}}</a>
                {% endfor %}
            </div>
        </div>






        <!--All Products-->
        <div class="container my-5  col-lg-10">
            <div class="row">
                {% if pl %}
                {% for product in pl %}
                <div class="col-md-3 my-2">
                    <div class="card");">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="" >
                        <div class="card-body">
                            <div class="card-title">
                                <b>{{ product.name }}</b>
                            </div>
                            <div class="card-title">
                                {{ product.description }}
                            </div>
                            <div class="card-text">
                                <b>₹ {{ product.price }}</b>
                            </div>
                            <a href="{% url 'ecom_app:product_detail' product.id %}" class="btn btn-warning">View</a>
                            <a href="{%url 'ecom_app:add' product.id%}" class="btn atc btn-success">Add to cart</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
           </div>
           {% else %}
                <div class="col">
                    <p>No products found for your search.</p>
                </div>
           {%endif%}

    </div>
</div>

{%endblock%}